
Debug/VulkanTriange.ilk
Debug/VulkanTriange.exe
Debug/VulkanTriange.pdb
VulkanTriange.opensdf
VulkanTriange.sdf
VulkanTriange.sln
VulkanTriange.v12.suo
VulkanTriange/Debug/main.obj
VulkanTriange/Debug/vc120.idb
VulkanTriange/Debug/vc120.pdb
VulkanTriange/Debug/VulkanTriange.log
VulkanTriange/Debug/VulkanTriange.tlog/cl.command.1.tlog
VulkanTriange/Debug/VulkanTriange.tlog/CL.read.1.tlog
VulkanTriange/Debug/VulkanTriange.tlog/CL.write.1.tlog
VulkanTriange/Debug/VulkanTriange.tlog/link.command.1.tlog
VulkanTriange/Debug/VulkanTriange.tlog/link.read.1.tlog
VulkanTriange/Debug/VulkanTriange.tlog/link.write.1.tlog
VulkanTriange/Debug/VulkanTriange.tlog/VulkanTriange.lastbuildstate
VulkanTriange/shaders/compile.bat
VulkanTriange/shaders/frag.spv
VulkanTriange/shaders/shader.frag
VulkanTriange/shaders/shader.vert
VulkanTriange/shaders/vert.spv
VulkanTriange/VulkanTriange.vcxproj
VulkanTriange/VulkanTriange.vcxproj.filters
.gitattributes
VulkanTriange/Debug/rectangle.obj
VulkanTriange/Release/vc120.pdb
VulkanTriange/Release/VulkanTriange.log
VulkanTriange/Release/VulkanTriange.tlog/cl.command.1.tlog
VulkanTriange/Release/VulkanTriange.tlog/unsuccessfulbuild
VulkanTriange/Release/VulkanTriange.tlog/VulkanTriange.lastbuildstate
VulkanTriange/shaders/rectangle.vert
VulkanTriange/VulkanTriange.vcxproj.user
VulkanTriange/Debug/VulkanTriange.tlog/CL-DW20.read.1.tlog
VulkanTriange/Debug/VulkanTriange.tlog/CL-DW20-dwwin.write.2.tlog
VulkanTriange/Debug/VulkanTriange.tlog/CL-DW20-dwwin.read.7.tlog
VulkanTriange/Debug/VulkanTriange.tlog/CL-DW20-dwwin.read.5.tlog
VulkanTriange/Debug/VulkanTriange.tlog/CL-DW20-dwwin.read.4.tlog
VulkanTriange/Debug/VulkanTriange.tlog/CL-DW20-dwwin.read.2.tlog
